
<li>
  <span class='header'>
    <a href='#' class='cancel'>
      <span
      class='glyphicon glyphicon-chevron-left pull-left'>
    </span>
  </a>
  Add TROLL Regiment?
</span>
</li>
<li class='divider'></li>
<li>
  <form>
    <label>
      <b>Title:</b>
    </label>
    <br>
    <input
    type='text'
    placeholder='Untitled Regiment'
    autofocus='true'>
    <button class='btn btn-success btn btn-success-info'>Create Regiment!</button>
  </form>
</li>
