<li>
  <span class='header'>Add TROLL Regiment?</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New TROLL Regiment!</b>
    <span class='add-item-description'>
      <p>
        A regiment typically has 2000-4000 soldiers;
      </p>
      <p>
        A battalion typically has 300-800 soldiers;
      </p>
      <p>
        A platoon typically has 15-30 soldiers;
      </p>
      <p>
        And a soldier in TROLOLO is a TROLL with a mission.
      </p>
      <p>
        Assign a mission to TROLL soldiers that are in TROLL platoons that are in TROLL battalions that are in TROLL regiments!!
      </p>
      <p>
        Oh, did I mention that you can drag and drop any TROLL unit and rearrange each regiment? Try it out and have fun!
      </p>
    </span>
  </a>
</li>
